<div class="container mt-6">
    <div class="field">
        <div class="columns">
            <div class="column">
                <label class="label">Dein Vorname</label>
                <div class="control">
                    <input class="input is-medium" type="text" placeholder="">
                </div>
            </div>
            <div class="column">
                <label class="label">Dein Nachname</label>
                <div class="control">
                    <input class="input is-medium" type="text" placeholder="">
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Über welche E-Mail Adresse kann ich dich erreichen?</label>
        <div class="control">
            <input class="input is-medium" type="email" placeholder="email@beispiel.de">
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <label class="label">Wann ist der Termin deiner Hochzeit?</label>
            <div class="control">
                <input class="input is-medium" type="date" placeholder="">
            </div>
        </div>
        <div class="column">
            <label class="label">Um wie viel Uhr ist die Trauung?</label>
            <div class="control">
                <input class="input is-medium" type="time" placeholder="">
            </div>
        </div>
    </div>

    <div class="field">
        <label class="label">Deine Nachricht an mich:</label>
        <div class="control">
            <textarea class="textarea is-medium" placeholder="..."></textarea>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-fullwidth is-medium is-primary">Anfrage jetzt absenden</button>
        </div>
    </div>
</div>

